/* SolarSystem.css */
.solar-system-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .solar-system-controls {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  
  .speed-slider input[type="range"] {
    width: 300px;
  }
  
  body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: radial-gradient(circle, #102346, #040a11) !important;
  }
  
  